@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.conteudo {
  display: flex;
  background-color: var(--fundo);
  font-family: "Nunito", sans-serif;
}

:root {
  --primaria: #58a4b0;
  --secundaria: #fabb18;
  --terciaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
}
