.conteudo {
  display: flex;
  background-color: var(--fundo);
}

:root {
  --primaria: #58a4b0;
  --secundaria: #fabb18;
  --terciaria: #373f51;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: #ececec;
}
